body {
    font-family: Arial, sans-serif;
    background:#f1f1f1; 
    color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}

h1 {
    color: #00a0aa;
    font-size: 36px;
    margin-bottom: 20px;
}

button {
    background-color: #00a0aa;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 18px;
}

button:hover {
    background-color: #afd784;
}

button.delete {
    background-color: #eb0005;
}

button.delete:hover {
    background-color: #afd784;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #00a0aa;
}

th, td {
    padding: 10px;
    text-align: left;
    font-size: 16px;
}

#chart {
    margin-top: 20px;
}

